<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>


<h1>This is a heading of this page set by anisble on the webserver to see what happens.</h1>
<h1>adding new line for testing rebase.</h1>
<p>{{ message }}</p>

</body>
</html>
